.diet {
	background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(33, 30, 68, 0.904)), to(rgba(96, 218, 255, 0.932))),
		url(../../pics/food.png);
	background-image: -webkit-linear-gradient(top left, rgba(33, 30, 68, 0.904), rgba(96, 218, 255, 0.932)),
		url(../../pics/food.png);
	background-image: -o-linear-gradient(top left, rgba(33, 30, 68, 0.904), rgba(96, 218, 255, 0.932)),
		url(../../pics/food.png);
	background-image: linear-gradient(to bottom right, rgba(33, 30, 68, 0.904), rgba(96, 218, 255, 0.932)),
		url(../../pics/food.png);
	background-repeat: no-repeat;
	background-position: center;
    background-attachment: fixed;
    
    height: 100%;
    display: -webkit-box;
    color: black;
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.jumbotron-diet {
    height: 80vh;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
    color: white;
}

.diet-text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.grid-diet {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
}

.grid-diet-item {
    opacity: 1;
    transition: all .2s;
    width: 100%;
}

.grid-diet-item:hover {
    opacity: .7;
    -webkit-transform: scale(.95);
        -ms-transform: scale(.95);
            transform: scale(.95);
}

.diet-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 6rem 0;
}

.card-title {
    margin: 50px 0 60px 0;
    font-size: 150%;
    text-align: center;
}


@media only screen and (max-width: 480px) {
    .grid-diet {
       grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
    }
}