.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(236, 236, 236);
    margin: 6px 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

.header-background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(47, 51, 71, 0.99);
}

.header-nav {
    width: 95%;
}

.navbar {
    padding: .5rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.ghost-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1180px;
}

.hamburger {
    display: none;
}

a > span {
    color: white;
    letter-spacing: 1px;
    padding-bottom: 10px;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
    margin: 0 8px;
}

a > span:hover {
    color: rgba(255, 183, 75, 0.966);
}

a > img {
    margin-right: 10px;
}

.navbar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}



@media only screen and (max-width: 575px) {
	.navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: .4rem .1rem;
    }
    /* .ghost {
        display: none;
    } */
}
