.partners-body {
	background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(33, 30, 68, 0.904)), to(rgba(96, 218, 255, 0.932))),
		url(../../pics/friend.png);
	background-image: -webkit-linear-gradient(top left, rgba(33, 30, 68, 0.904), rgba(96, 218, 255, 0.932)),
		url(../../pics/friend.png);
	background-image: -o-linear-gradient(top left, rgba(33, 30, 68, 0.904), rgba(96, 218, 255, 0.932)),
		url(../../pics/friend.png);
	background-image: linear-gradient(to bottom right, rgba(33, 30, 68, 0.904), rgba(96, 218, 255, 0.932)),
		url(../../pics/friend.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

	height: 100%;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.jumbotron-partners {
	height: 63vh;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
text-align: center;
	color: white;
}

.partners-img {
	height: 50vh;
	width: auto;
	background-repeat: repeat-x;
}

.dot1 {
	height: 100px;
	width: 100px;
	background-color: rgba(18, 14, 66, 0.849);
	border-radius: 50%;
	display: inline-block;
}

.dot2 {
	height: 100px;
	width: 100px;
	background-color: rgba(2, 194, 241, 0.849);
	border-radius: 50%;
	display: inline-block;
}

@media only screen and (max-width: 480px) {
	.dot1 {
		height: 50px;
		width: 50px;
	}

	.dot2 {
		height: 50px;
		width: 50px;
	}
}